button {
  color: white;
  background-color: red;
  height: 40px;
  border-color: red;
  width: 300px;
}

input {
  height: 40px;
  width: 300px;
  color: rgb(185, 185, 185);
  background-color: rgb(50, 50, 50);
}

.form {
  text-align: start;
  padding: 100px;
  background-color: rgb(0, 0, 0);
  width: 350px;
}

.main {
  display: flex;
  align-items: center;
  height: 100vh;
}

body {
  z-index: 999;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
