.heading1 {
  line-height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #313131;
  z-index: 999;
  display: flex;
  float: left;
  justify-content: center;
}

.mail-a {
  color: white;
  text-decoration: none;
  float: left;
  padding: 0 10px;
  line-height: 48px;
  white-space: nowrap;
  display: block;
  width: auto;
  height: 48px;
  position: relative;
}

.locate-a {
  float: left;
  padding: 0 10px;
  line-height: 48px;
  white-space: nowrap;
  display: block;
  width: auto;
  height: 48px;
  position: relative;
  color: white;
  text-decoration: none;
}

.install {
  float: right;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px 0;
}

.containers {
  width: 1170px;
  text-align: center;
  position: relative;
  justify-content: center;
}
.container {
  max-width: 1200px;
}

.head2 {
  line-height: 48px;
  width: 100%;
  position: relative;
  display: flex;
  float: left;
  top: 76px;
  justify-content: center;
}

.mid-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 345px);
}

.head2 .containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Search {
  display: flex;
}

.head2 > .containers > .mid-header > .Search > .search {
  height: 48px;
  width: 405px;
  top: 10px;
  position: relative;
}

.head2 > .containers > .mid-header > .Search > .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 66px;
  position: relative;
  top: 10px;
  background-color: red;
}

.hotline {
  position: relative;
  max-width: 330px;
  display: inline-block;
  color: #da251e;
  font-size: 21px;
  line-height: 18px;
  padding: 0 45px;
  margin-top: 22px;
  background: #fff url(img/header-phone.png) no-repeat left top;
}

.navi {
  width: 100%;
  height: 50px;
  background-color: #da251e;
  clear: both;
  position: relative;
  top: 80px;
  display: block;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.rows > a {
  display: inline;
  line-height: 48px;
  color: #fff;
  position: relative;
  border-top: 2px;
  padding: 0px 16px;
  text-decoration: none;
}

.slide {
  top: 80px;
  position: relative;
}

.inners {
  display: flex;
  background: #eee;
  padding: 20px 5px;
  height: 100%;
  width: 300px;
  border-radius: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.DichVu {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.contents {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: calc(25% - 25px) 1fr;
  width: 100%;
  transition: width 2s;
}

.content-big > div {
  text-align: center;
}
.content1 > img {
  width: 100%;
  height: 209px;
  object-fit: contain;
}
.bg {
  background: #eef7f6;
  background-size: 100%;
  transition: width 2s;
  border-radius: 10px;
}

.content-big {
  grid-template-columns: repeat(4, 209px);
  display: grid;
  left: 40px;
  position: relative;
}

.services {
  justify-content: space-between;
  display: flex;
}

.Videos {
  position: relative;
  top: 350px;
}

.Video-small {
  display: grid;
  grid-template-columns: auto auto;
}

.videos {
  display: flex;
  justify-content: center;
  /* padding: 15px; */
}

.video {
  padding: 15px;
  color: #fff;
  background-color: #333;
}

.dblock {
  height: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.activate {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.DoiTac {
  position: relative;
  top: 400px;
}

.TinTuc {
  position: relative;
  top: 550px;
}

.Tintuc {
  display: grid;
  grid-template-columns: auto;
}

.footer {
  position: relative;
  top: 600px;
}

.TaiXuong {
  display: flex;
  justify-content: center;
  float: right;
}

.end {
  text-align: start;
}

.services > div {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.services > div > img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.services > div:hover {
  box-shadow: 10px 7px 10px #ccc;
}
